/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Garantir que a altura do HTML e Body seja 100% */
  body, html {
    height: 100%;
  }
  
  .topo{
    width: 100%;
    height: 80px;
    background-color: white;
  }

  /* Container principal usando Flexbox */
  .container {
display: flex;
    height: 100%;
  }
  
  
  /* Estilo para a primeira parte (logo) */
  .parte1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db; /* Cor azul */
    border-color: #e74c3c;
  }
  
  .logo h1 {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 90px;
    text-align: center;
  }
  
  /* Estilo para a segunda parte (formulário de login) */
  .parte2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e74c3c; /* Cor vermelha */
    border-color: #3498db;
  }
  
  .login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 350px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #2980b9;
  }
  
  .links {
    text-align: center;
    margin-top: 10px;
  }
  
  .links a {
    text-decoration: none;
    color: #3498db;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
